<div class="container">
    <form class="form-group mt-5" [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <fieldset>
            <legend>Loan</legend>
            <label>Purpose of Loan:</label>
            <select class="form-control" formControlName="purpose">
                <option value="A40">New Car</option>
                <option value="A41">Used Car</option>
                <option value="A42">Furniture/Equipment</option>
                <option value="A43">Radio/Television</option>
                <option value="A44">Domestic Appliances</option>
                <option value="A45">Repairs</option>
                <option value="A46">Education</option>
                <option value="A48">Retraining</option>
                <option value="A49">Business</option>
                <option value="A410">Other</option>
            </select>
            <br>
            <label>Amount of Loan:</label>
            <input class="form-control" formControlName="amount">
            <br>
            <label>Loan Duration in Months:</label>
            <input class="form-control" formControlName="term_months">
            <br>
            <label>Guarantor:</label>
            <select class="form-control" formControlName="guarantors">
                <option value="none">None</option>
                <option value="co-applicant">Co-Applicant</option>
                <option value="guarantor">Guarantor</option>
            </select>
        </fieldset>
        <br>
        <br>

        <fieldset>
            <legend>Employment</legend>
            <label>Type of Employment</label>
            <select class="form-control"  formControlName="employment_curr">
                <option value="unemp or unskilled(nonresident)">Unemp or Unskilled(Nonresident)</option>
                <option value="unskilled(resident)">Unskilled(Resident)</option>
                <option value="skilled/official">Skilled/Official</option>
                <option value="mgmt/self/highly qu/officer">Mgmt/Self/Highly Qu/Officer</option>
            </select>
            <br>
            <label>Years Employed</label>
            <select class="form-control"  formControlName="employment_hist">
                <option value="un">Unemployed</option>
                <option value="<1">Less than 1 Year</option>
                <option value="1-4">1 to 4 Years</option>
                <option value="4-7">4 to 7 Years</option>
                <option value="7+">More than 7 Years</option>
            </select>
            <label>Foreign Worker:</label>
            <input class="form-control" type="checkbox" formControlName="foreign_worker">
        </fieldset>
        <br>
        <br>

        <fieldset>
            <legend>Financials/Debts</legend>
            <label>Checking Amount:</label>
            <select class="form-control"  formControlName="checking">
                <option value="none">None</option>
                <option value="neg">Negative Balance</option>
                <option value="<100">Less than $100</option>
                <option value="100+">More than $100</option>
            </select>
            <br>
            <label>Savings Amount:</label>
            <select class="form-control"  formControlName="savings">
                <option value="<50">Less than $50</option>
                <option value="50-250">Between $50 and $250</option>
                <option value="250-500">Between $250 and $500</option>
                <option value=">500">More than $500</option>
            </select>
            <br>
            <label>Lines of Credit with Current Bank:</label>
            <input class="form-control" formControlName="cred_this_bank">
            <br>
            <label>Credit History:</label>
            <select class="form-control"  formControlName="cred_hist">
                <option value="None">No Credit History</option>
                <option value="Pd">Late/Delinquent</option>
                <option value="current">Current</option>
                <option value=">30">Less than 30 Months</option>
                <option value="30+">More than 30 Months</option>
            </select>
            <br>
            <label>Other Debt</label>
            <select class="form-control"  formControlName="other_debt">
                <option value="none">None</option>
                <option value="bank">Bank</option>
                <option value="stores">Stores</option>
            </select>
        </fieldset>
        <br>
        <br>


        <fieldset>
            <legend>Family</legend>
            <label>Marital Status:</label>
            <select class="form-control"  formControlName="marital_status">
                <option value="Mar">Married</option>
                <option value="Div/Sep">Divorced/Separated</option>
                <option value="Sing">Single</option>
            </select>
            <br>
            <label>Number of Individuls in Household:</label>
            <input class="form-control" type="text" formControlName="household_size">
        </fieldset>
        <br>
        <br>

        <fieldset>
            <legend>Housing</legend>
            <label>Other Property Owned (Select First True Option):</label>
            <select class="form-control" formControlName="property">
                <option value="real">Real Estate</option>
                <option value="life">Life Insurance with Accumulated Value</option>
                <option value="car/other">Car/Other</option>
                <option value="none">None</option>
            </select>
            <br>
            <label>Years in Current Housing:</label>
            <input class="form-control" type="text" formControlName="residence">
            <br>
            <label>Housing:</label>
            <select class="form-control"  formControlName="housing">
                <option value="own">Own or Paying Mortgage</option>
                <option value="rent">Renting</option>
                <option value="free">Free</option>
            </select>
        </fieldset>
        <br>
        <br>

        <fieldset>
            <legend>Miscellaneous</legend>
            <label>Gender:</label>
            <select class="form-control"  formControlName="gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="NB">Non-Binary</option>
                <option value="ND">Not Disclosed</option>
            </select>
            <br>
            <label>Age:</label>
            <input class="form-control" type="text" formControlName="age">
            <br>
            <label>Phone is registered under your name:</label>
            <input type="checkbox" class="form-control" formControlName="phone">
        </fieldset>
        <br>
        <br>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>